__pycache__/
*.pyc
cooling_config.json
*_results.txt
*_out.txt
*_status.txt
*_progress.txt
*_check.json
*_readback.txt
*_process_check.json
*_windows.json
active_processes.json
defender_check.txt
compile*.txt
diag*.txt
afterburner*/
afterburner*.zip
afterburner*.json
afterburner*.txt
call_all_*.txt
auto_oc_tests_*.txt
*.log
*.txt
